:root {
  --base-color: #ED1C24 !important;
  --primary-color: #FFF200 !important;
  --font-stack: "Poppins", sans-serif !important;
  --font-body-lg: 20px !important;
  --font-body-md: 18px !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-stack);
  color: #000;
  font-size: 22px;
  overflow-x: hidden;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem;
  font-family: var(--font-stack);
  font-weight: bold;
}

h1 { font-size: 48px; }
h2 { font-size: 36px; }
h3 { font-size: 32px; }

/* Utilities */

.bg-base {
  background: var(--base-color) !important;
  color: #fff !important;
}

.bg-primary {
  background: var(--primary-color) !important;
  color: #000 !important;
}

.overlay {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}

.btn {
  font-weight: 600;
}

.btn:hover {
  transition: ease 1s;
}

.btn.bg-base:hover {
  background-color: var(--primary-color) !important;
  color: #000 !important;
}

.btn.bg-primary:hover {
  background-color: var(--base-color) !important;
  color: #fff !important;
}

.section-spacing {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* Nav */

nav {
  font-size: var(--font-body-md);
  font-weight: 600;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li a {
  color: var(--base-color);
}

/* Header */

header {
  background: url('../img/hero.jpg') no-repeat center center/cover;
}

header .hero {
  min-height: 87vh;
}

.hero {
  color: #fff;
}

/* Services */

.img-wrap {
  height: 348px;
}

#services .img-wrap.slider1 {
  background: url('../img/standard-courier.jpg') no-repeat center center/cover;
}

#services .img-wrap.slider2 {
  background: url('../img/door-to-door.jpg') no-repeat center center/cover;
}

#services .img-wrap.slider3 {
  background: url('../img/express-courier.jpg') no-repeat center center/cover;
}

.carousel-item {
  padding: 5% 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--base-color);
}

.carousel-indicators li {
  background-color: var(--base-color);
}

/* Why */

#why {
  background-color: #000;
  color: #fff;
}

#why ul {
  list-style: none;
}

#why ul li {
  display: flex;
  align-items: center;
}

#why ul li i {
  margin: 1rem 2rem 1rem 0;
  padding: .7rem;
  font-size: 30px;
  color: var(--base-color);
  background: #fff;
  border-radius: 20%;
}

#why ul li p {
  margin-bottom: 0;
}

#why .img-wrap {
  height: 470px;
  background: url('../img/gian-cescon-00ByEXKcSkA-unsplash.jpg') no-repeat center center/cover;
}

#riders .img-wrap {
  background: url('../img/rider.jpg') no-repeat center center/cover;
}

/* Contact */
#contact {
  background: url('../img/william-daigneault-AXbyizNdH_A-unsplash.jpg') no-repeat center center/cover;
}

#contact h2 {
  margin-bottom: .5rem;
}


/* Responsiveness */

@media (max-width: 768px) {
  .hero .hero-text {
    width: 100%;
    text-align: center;
  }
}
